.infoBox {
    display: flex;
}

.infoText {
    flex: 1;
    padding: 20px;
}

.infoImg {
    flex: 1;
}

.infoImg img {
    width: 100%; 
    height: auto;
}

button{
    background-color: #D13E31;
    color: white;
    padding: 10px;
}